.item_align {
  margin-right: -55px !important;
  margin-left: 9px !important;
}
.height_of_card {
  height: 250px;
  border: 20px;
}
.bd {
  border: 5px solid rgba(151, 219, 151, 0.808);
  background-color: #76c5a0b7;
}
.child_card_items {
  overflow: auto;
  height: 145px;
  padding: 10px;
}
.heading {
  background: #35af76b7;
  padding: 10px;
  color: rgb(3, 59, 15);
}
.border {
  border-radius: 50px;
}
